{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block header %}
  <h1> SSF Certification Programmes</h1>
{% endblock header %}




{% block content %}
<p>
	Shang Shung Foundation Certifications form part of eduacational programs.
</p>

<section>
    {% regroup certifications by discipline as discipline_list %}
    {% for discipline in discipline_list %}
    <h2>{{ discipline.grouper }}</h2>
    <ul>
        {% for certification in discipline.list %}
        <li>
            <h4><a href="{% url 'certification' certification.id %}">{{ certification }}</a></h4>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</section>
{% endblock content %}