{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block header %}
  <h1> SSF Certification Programmes</h1>
{% endblock header %}




{% block content %}
<p>
	Shang Shung Foundation Certifications form part of eduacational programs.
</p>

<section>
  <table class="table">
    <thead>
      <th>Title</th>
    </thead>
    <tbody>
      {% for certification in certifications %}
        <tr>
          <td> <a href="{% url 'certification' certification.id %}">{{ certification }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock content %}