* { font-family: 'Droid Serif', serif;}
body {
    background: url(/static/img/body-bg.png)
}
h1, h2, h3 { font-family: 'Sorts Mill Goudy', serif;

 text-shadow: 2px 1px 1px white;}

a { color: rgb(178, 43, 43);}
header{
    text-align: center;
}

footer {
    background: grey;
    color: rgb(244, 244, 244);
}
footer a, footer a:hover {
    color: rgb(208, 197, 194);
}