{% extends "base.html" %}


{% block header %}
	<div class="jumbotron">
		<h1 class="blog-title">{{ course.title }}</h1>
		<p>
			organized by <em>{{ course.organizer }}</em> as part of 
			<em><a href="{% url 'educational_programme' course.educational_programme.id %}">{{ course.educational_programme }}</a></em>
		</p>

		<h3>carried by 
		{% for professor in course.professors.all %}
		<em>{{ professor.first_name }} {{ professor.last_name }}</em>
		{% endfor %}
		</h3>
		<h2>
			from <time datetime="{{ course.begins }}">{{ course.begins }}</time> 
			to <time datetime="{{ course.finish }}">{{ course.finish }}</time>
		</h2>
		<h2>at <em>{{ course.location }}</em></h2>
		
		<p>
			language: <em>{{ course.main_language }}</em>
			{% if course.second_language %}
			with translation into <em> {{ course.second_language }}</em>
			{% endif %}
		</p>
 	</div>
 	<p>{{ course.educational_programme.summary }}</p>
{% endblock header %}


{% block content %}
<section class="col-sm-8">
	<h3>Programme</h3>
	<p>{{ course.educational_programme.programme }}</p>
		
	<h3>Timetable</h3>
	<p>{{ course.timetable }}</p>

	<h3>Achievements</h3>
	<p>{{ course.educational_programme.achivement }}</p>
	{% if course.educational_programme.certification%}
	<p>Certification: {{ course.educational_programme.certification }}</p>
	{% endif %}
</section>

<section class="col-sm-4">
	<div>
	<div class="panel panel-default">
		<h3 class="panel-heading">Public</h3>
		<div class="panel-body">
			<p>{{ course.educational_programme.public }}</p>

			{% if course.educational_programme.requires%}
			<h3>Requirements</h3>
			<p>Requires: {{ course.educational_programme.requires }}</p>
			{% endif %}
		</div>
	</div>

	<div class="panel panel-default">
		<h3 class="panel-heading">Fees</h3>
		<div class="panel-body">
			<table>
				<tr>
					<th>Participant Group</th>
					<th>Price</th>
				</tr>
				{% for fee in fees %}
				<tr>
					<td>{{ fee.participant_group }}</td>
					<td>{{ fee.price }} {{ fee.currency }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<div class="panel panel-default">
		<h3 class="panel-heading">Registration</h3>
		<div class="panel-body">
			{% if course.is_open %}
			<p>
				Everybody willing to participate is asked to register and do the payment at 
				<a href="{{ course.registration_url }}">{{ course.registration_url }}</a>
			</p>
			{% endif %}
		</div>
	</div>

	<div class="panel panel-default">
		<h3 class="panel-heading">Contact</h3>
		<div class="panel-body">
			<p>Manager: <em><a href="mailto:{{ course.manager.email }}?subject={{ course.title}}">{{ course.manager.first_name }} {{ course.manager.last_name }}</a></em> 
			</p>
		</div>
	</div>
	</div>

</section>
{% endblock content %} 
