{% extends "base.html" %}


{% block header %}
  <h1>{{ programme.title }}</h1>
  <h3>Institution: {{ programme.institution }}</h3>
  <p>{{ programme.summary }}</p>
{% endblock header %}


{% block content %}
<section class="col-sm-8">
	<p>{{ programme.programme }}</p>

	<h3>Public</h3>
	<p>{{ programme.public }}</p>
		
	{% if programme.requires%}
	<h3>Requirements</h3>
	<p>Requires: {{ programme.requires }}</p>
	{% endif %}

	<h3>Modules</h3>
	<ul class="list-group">
		{% for module in course.related_modules.all %}
		<li class="list-group-item">
			<span class="badge">{{ module.hours }}</span>
			{{ module.name }}
		</li>
		{% endfor %}
	</ul>

	<h3>Achievement</h3>
	<p>{{ programme.achivement }}</p>
	{% if programme.certification%}
	<p>Certification: {{ programme.certification }}</p>
	{% endif  %}
</section>


<section class="col-sm-4">
	{% if programme.related_courses.opened.all %}
	<h3>Coming Courses</h3>
	<div class="list-group">
		{% for course in programme.related_courses.opened.all %}
		<a href="{% url 'course' course.id %}">
			<h4>{{ course.begins }} at {{ course.location }}</h4>
		</a>
		{% endfor %}
	</div>
	{% endif %}
</section>
{% endblock content %} 
