{% extends "base.html" %}


{% block header %}
  <h1>Educational Programmes</h1>
{% endblock header %}


{% block content %}
<section>
	{% regroup programmes by discipline as discipline_list %}
	{% for discipline in discipline_list %}
	<h2><a href="{% url 'discipline' discipline.grouper.id %}">{{ discipline.grouper }}</a></h2>
	<div class="list-group">
		{% for programme in discipline.list %}
		<a href="{% url 'educational_programme' programme.id %}" class="list-group-item">
			<h3>{{ programme.title }}</h3>
			<!-- <h4>Institution: {{ programme.institution }}</h4> -->
			<p>{{ programme.summary }}</p>
		</a>
		{% endfor %}
	</div>
	{% endfor %}
</section>
{% endblock content %} 
